.feed-menu {
  position: sticky;
  top: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 24px 2px rgba(0, 6, 148, 0.08);
  background-color: white;
  padding: 1rem;
}

.menu-items {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.menu-item {
  height: 3.5rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 1rem;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #f4f2f9;
}

.active-menu-item {
  background-color: #f4f2f9;
}
