.layout {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  column-gap: 2rem;
  font-weight: 600;
}

.layout > * {
  margin-top: 1rem;
}

.layout-left-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.layout-left {
  width: 60%;
}

.layout-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.layout-content-container > * {
  margin-bottom: 1rem;
}

.layout-right-container {
  width: 100%;
}
