.layout {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  column-gap: 2rem;
  font-weight: 600;
}

.layout > * {
  margin-top: 1rem;
}

.layout-left-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.layout-left {
  width: 60%;
}

.layout-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.layout-content-container > * {
  margin-bottom: 1rem;
}

.layout-right-container {
  width: 100%;
}

footer {
  width: 100vw;
  height: 9vh;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: #049ef7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer button {
  padding: 0.7rem;
  border-radius: 15px;
  margin: 0rem 2rem;
}

footer button:hover {
  background-color: rgb(212, 211, 211);
}

@media screen and (min-width: 1950px) {
  .layout {
    grid-template-columns: 1fr 1.1fr 1fr;
  }
}

@media screen and (min-width: 1850px) {
  .layout {
    grid-template-columns: 1fr 1.2fr 1fr;
  }

  .layout-left {
    width: 55%;
  }
}

@media screen and (max-width: 1500px) {
  .layout {
    grid-template-columns: 1fr 1.4fr 1fr;
  }
  .layout-left {
    width: 70%;
  }
}

@media screen and (max-width: 1350px) {
  .layout {
    grid-template-columns: 1fr 1.7fr 1fr;
  }
  .layout-left {
    width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .layout {
    grid-template-columns: 100px 1.7fr 1fr;
    column-gap: 1.5rem;
  }

  .layout-left {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .layout-right-container {
    display: none;
  }

  .layout {
    grid-template-columns: 100px 1fr 1rem;
  }
}

@media screen and (max-width: 767px) {
  .layout-left-container {
    display: none;
  }
  .layout {
    grid-template-columns: 1fr;
  }

  .layout-content-container {
    padding: 0rem 2rem;
  }
}

@media screen and (max-width: 650px) {
  .layout-left-container {
    display: none;
  }
  .layout {
    grid-template-columns: auto;
    /* display: block; */
  }
  .layout-content-container {
    width: 100vw;
    padding: 0rem 1rem;
  }

  /* .layout-content-container {
    padding: 0rem 2rem;
  } */
}
