.profile-page-header {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.profile-page-header svg {
  cursor: pointer;
}

.page-header-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
