.divider {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(163, 163, 163);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.comment-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment-box {
  margin: 1rem 0rem 1rem 0rem;
}

.comment-text {
  margin-left: 54px;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.comment-icons {
  margin-left: 54px;
  margin-top: 0.5rem;
  display: flex;
}

.comment-icons > span {
  font-size: 0.7rem;
  font-weight: 500;
  align-self: center;
}

.post-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-comment > div {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-grow: 1;
}

.post-comment-btn {
  padding: 0.7rem;
  background-color: #4399ff;
  color: white;
  border-radius: 5px;
}
