.search {
  height: 44px;
  background-color: #ffffff;
  box-shadow: 0px 2px 24px 2px rgba(0, 6, 148, 0.08);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.search:focus {
  border: 2px solid black;
}

.search-results {
  width: 100%;
  height: 250px;
  background-color: white;
  z-index: 5;
  position: absolute;
  top: 50px;
  border: 1px solid black;
  box-shadow: 0px 2px 24px 2px rgba(0, 6, 148, 0.08);
  overflow-y: auto;
}

.search-profile {
  padding: 0.5rem 0rem;
  z-index: inherit;
  cursor: pointer;
}

.search-profile:hover {
  background-color: rgba(226, 226, 226);
}

@media screen and (max-width: 1024px) {
  .search {
    width: 80%;
  }

  .search-results {
    width: 72%;
    top: 120px;
  }
}
