.signup-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  --marginvalue: 5rem;
}

.left-signup-part,
.right-signup-part {
  height: 100vh;
  width: 50%;
}

.left-signup-part {
  background: linear-gradient(327.38deg, #2a2f48 43.25%, #000c46 100%);
  display: flex;
  justify-content: center;
}

.right-signup-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
}
.signup-heading,
.signup-subheading {
  margin-left: var(--marginvalue);
  margin-right: var(--marginvalue);
  color: #282c40;
}

.signup-heading {
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 1rem;
  font-weight: 700;
}

.signup-subheading {
  font-size: 22px;
  line-height: 110%;
  margin-bottom: 2rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin: 0rem var(--marginvalue) 0rem var(--marginvalue);
}

.signup-form > div {
  margin-top: 1.5rem;
}

.signup-submit-btn {
  height: 70px;
  /* background: linear-gradient(180deg, #ffb648 0%, #fdc064 100%); */
  background-color: #000d52;
  /* background-color: rgba(0, 13, 82, 0.5); => for disabled status */
  border-radius: 13.5372px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 110%;
  color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.line {
  height: 1.2px;
  background-color: rgba(196, 196, 196, 0.5);
}

.continue-with-text-wrapper {
  position: relative;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue-with-text {
  font-size: 18px;
  color: #b4b6c2;
  background-color: #ffffff;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.signup-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-options-container {
  width: 154px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px 1px rgba(120, 120, 120, 0.2);
  border-radius: 13.5372px;
  cursor: pointer;
  margin: 0.8rem;
}

.link-to-login {
  color: #282c40;
  font-weight: 600;
}

.link-to-login:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1700px) {
  .signup-wrapper {
    --marginvalue: 10rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1230px) {
  .left-signup-part {
    width: 40%;
  }

  .right-signup-part {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .signup-wrapper {
    --marginvalue: 8rem;
  }

  .left-signup-part {
    display: none;
  }

  .right-signup-part {
    width: 100%;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .signup-wrapper {
    --marginvalue: 3rem;
  }

  .right-signup-part {
    margin-top: 3.5rem;
  }

  .signup-heading {
    font-size: 40px;
  }

  .signup-subheading {
    font-size: 20px;
  }

  .signup-options-container {
    width: 130px;
    height: 58px;
  }
}

@media screen and (max-width: 600px) {
  .right-signup-part {
    justify-content: flex-start;
  }
}
