.feed-right {
  position: sticky;
  top: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.trending {
  background: #ffffff;
  box-shadow: 0px 2px 24px 2px rgba(0, 6, 148, 0.08);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 1rem;
  margin-bottom: 1rem;
}

.trending > h5 {
  text-align: center;
  margin-bottom: 1rem;
}

.trending-project {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  column-gap: 10px;
  background-color: #f4f2f9;
  border-radius: 8px;
  margin-bottom: 0.7rem;
  cursor: pointer;
  height: 6rem;
  width: 100%;
}

.trending-project-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.trending-project-desc > h6 {
  color: #999999;
}

.trending-project-img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.follow-suggestions {
  background: #ffffff;
  box-shadow: 0px 2px 24px 2px rgba(0, 6, 148, 0.08);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 1rem;
}

.follow-suggestions > h5 {
  text-align: center;
  margin-bottom: 1.2rem;
}

.follow-profile-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
}

.follow-profile {
  display: flex;
  align-items: center;
}

.follow-profile > span {
  margin-left: 5px;
  font-size: 0.8rem;
}

.follow-profile-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.view-profile-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  border: 1.5px solid black;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.3rem;
  border-radius: 4px;
}

@media screen and (min-width: 1850px) {
  .trending-project {
    height: 5rem;
  }

  .feed-right {
    width: 60%;
  }
}

@media screen and (max-width: 1500px) {
  .feed-right {
    width: 75%;
  }
}

@media screen and (max-width: 1350px) {
  .feed-right {
    width: 85%;
  }
}
